@import '_reset.scss';
@import './variables';
@import './elements';
// example: @import './components/nameOfScssfileForIndividualComponent';
@import '../components/CreateBook/CreateBook';
@import '../components/Footer/Footer';
@import '../components/Header/Header';
@import '../components/Header/RightNav';
@import '../components/BookItem/BookItem';
@import '../components/BookList/BookList';
@import '../util/DebouncedSearch/DebouncedSearch';
@import '../components/LoginPage/Login';
@import '../components/SignupPage/SignUp';
@import '../components/HomePage/HomePage';
@import '../components/SingleBook/SingleBook';
@import '../components/AddressSearch/AddressSearch';
@import '../components/SearchPage/SearchPage';
@import '../components/ImageToggle/ImageToggle';
@import '../components/Chat/Chat';
@import '../components/Chat/AllConversations';

.content {
    padding-top: 55px;
    margin-bottom: 5px;
}

.night-mode-bg {
    background-color: cadetblue;
    height: 100vh;
    padding-top: 5px;
    padding-bottom: 30px;
}

.day-mode-bg {
    background: 100vh;
    height: 100vh;
    padding-top: 5px;
    padding-bottom: 30px;
}