.chat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.chat-page-input input {
    width: 100%;
    padding: 12px 20px;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.chat {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 450px;
    width: 550px;
    color: black;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
}

.message-date {
    margin-bottom:  0.5rem;
    font-size: smaller;
}

.message-username {
    margin-bottom:  0.5rem;
    font-weight: 550;
}

.message-text {
    overflow-wrap: break-word;
    word-break: break-all;
}

.message {
    width:100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.my-message {
    width: 50%;
    display: flex;
    background-color: #BFD7EA;
    border-radius: 15px;
    padding: 1rem;
    justify-content: flex-end;
    text-align: right;
}

.other-message {
    width:50%;
    display: flex;
    background-color: #d3d3d3;
    border-radius: 15px;
    padding: 1rem;
    text-align: left;
    justify-content: flex-start;
}

.spacer {
    width: 50%;
    display: block;
}

.chat-page-send-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-send-button {
    background-color: #BFD7EA;
    border: 2px solid #0B3954;
    border-radius: 30px;
    box-shadow: #0B3954 4px 4px 0 0;
    color: #0B3954;
    cursor: pointer;
    font-weight: 600;
    font-size: 26px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;   
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.chat-send-button:hover {
    background-color: #fff;
}

.chat-send-button:active {
    box-shadow: #0B3954 2px 2px 0 0;
    transform: translate(2px, 2px);
}