.chat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-page-input input {
    width: 100%;
    padding: 12px 20px;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.chat {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    color: black;
}

.message {
    display: flex;
    max-width: 70%;
    align-self: flex-start;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.my-message {
    background-color: #fff;
    align-self: flex-end;
    border-radius: 4px;
    padding: 0.5rem;
}

.other-message {
    background-color: #0000004d;
    align-self: flex-start;
    border-radius: 4px;
    padding: 0.5rem;
}

.chat-page-send-message {
    justify-items: center;
}

.chat-send-button {
    background-color: #BFD7EA;
    border: 2px solid #0B3954;
    border-radius: 30px;
    box-shadow: #0B3954 4px 4px 0 0;
    color: #0B3954;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 26px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;   
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.chat-send-button:hover {
    background-color: #fff;
}

.chat-send-button:active {
    box-shadow: #0B3954 2px 2px 0 0;
    transform: translate(2px, 2px);
}