.book-item {
    max-width: 400px;
    min-width: 400px;
    height: 600px;
    padding-top: 5px;
    padding-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    text-align: center;
    color: $secondaryColor;
    a {
        cursor: pointer;
    }
    p {
        img {
            height: 40px;
            margin-left: 10px;
            opacity: 80%;
        }
    }
    .coverImage {
      max-height: 340px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
      max-width: 75%;
    }
    .coverImage:hover {
      border: 3px solid transparent;
    }

    .book-item-body {
      padding: 10px 20px;
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          span {
            display: block;
            padding: 5px;
            font-weight: 300;
            font-size: 0.8rem;
            color: $secondaryColor;
          }
        }
        img {
          max-width: 80px;
          border: none;
        }
        }
    }
  }

.titleAndYear {
    font-weight: bold;
    }

.kidsAdults {
    text-align: left;
}

.bookDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.availability img {
  width: 80px;
  display: none;
}

.availability img {
  width: 80px;
  display: inline;
}

.unavailable{
  vertical-align: top;
  transition: opacity 0.5s;
  opacity: 0.6;
}

.unavailable:hover {
  opacity: 1;
}

.linkToAvailableBook{
  position: relative;
  width: 200px;
  padding-bottom: 10px;
}

.linkToAvailableBook:after {
  content: attr(data-id);
  position: absolute;
  top: -150px;
  left: 60px;
  background: green;
  color: white;
  padding: 5px;
  font-size: larger;
  border: 1px solid #eee;
  opacity: 0;
  transition: 0.5s opacity;
}

.linkToAvailableBook:hover:after {
  opacity: 1;
}

.linkToUnavailableBook{
  position: relative;
  width: 200px;
  padding-bottom: 10px;
}

.linkToUnavailableBook:after {
  content: 'Availability: ' attr(data-id);
  position: absolute;
  top: -150px;
  left: 30px;
  background: red;
  color: white;
  font-size: larger;
  padding: 5px;
  border: 1px solid #eee;
  opacity: 0;
  transition: 0.5s opacity;
}

.linkToUnavailableBook:hover:after {
  opacity: 1;
}

.link-to-owner {
  position: relative;
  width: 160px;
  padding-bottom: 10px;
}

.link-to-owner:after {
  content: attr(data-id);
  position: absolute;
  top: -15px;
  left: 10px;
  background: rgb(26, 21, 75);
  color: white;
  padding: 2px;
  border: 1px solid #eee;
  opacity: 0;
  transition: 0.5s opacity;
}

.link-to-owner:hover:after {
  opacity: 1;
}

.imgAndLanguage {
  position: relative;
}

.lang-p {
  position: absolute;
  right: 0;
  font-size: smaller;
  padding-top: 95px;
  color:darkred;
  font-family: $fontButton;
  font-weight: $fontBold;
}

.genre-p {
  position: absolute;
  right: 0;
  font-size: smaller;
  padding-top: 55px;
  color:darkred;
  font-family: $fontButton;
  font-weight: $fontBold;
}

.author-p {
  position: absolute;
  right: 0;
  font-size: smaller;
  padding-top: 15px;
  color:darkred;
  font-family: $fontButton;
  font-weight: $fontBold;
}

.titleAndYear a {
  text-decoration: none;
}

.edit-and-delete-btn {
  padding-top: 50px;
}

@media (max-width: 768px) {
    .coverImage {
        width: 150px;
        opacity: 80%;
    }
    .book-item {
        max-width: 300px;
        min-width: 300px;
        min-height: 480px;
        max-height: 480px;   
        overflow: visible; 
        padding-bottom: 20px;
        padding-top: 10px;
    }
}

