.signUP-container form {
    max-width: 700px;
    min-width: 700px;
    height: 70vh;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 20px;
    margin: 20px;
    background-color: antiquewhite;
    position: relative;
}

.signUP-container{
    border: none;
    width: 100vw;
}

.input-checkbox {
    // position: relative;
}

.show-pass-btn {
    background-color: red;
    
}

.show-pass-btn > span {
    // position: absolute;
    right: 0;
    
    border-radius: 50%;
    font-size: 20px;
    margin-right: 20px;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #ffe3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .input-field{
    width: 330px;
    height: 55px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: #fdd6f1 0px 5px 15px;  
  }
  
  .input-field input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: hidden;
    outline: none;
    font-size: 18px;
    text-indent: 2px;
    padding: 5px;  
  }
  
  .input-field span{
    cursor: pointer;
  }


  

.textInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 140px;
    grid-row-gap: 0px;
}

.submitButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #008000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 80px;
    // grid-area: 5 / 1 / 6 / 3;
}

.submitButton:hover {
    background-color: #3e8e41;
}

.submitButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonContainer {
    width: 100%;
    text-align: center;
}

.error-message {
    font-weight: $fontBold;
    color: red;
    border-bottom: 8px solid black;
    width: 200px;
    margin-top: 50px;
    padding: 10px;
    margin-left: 250px;
}

@media (max-width: 768px) {
    .submitButton {
        // margin-top: -15px;
        // margin-bottom: 100px;
    } 
}
