.signUP-container form {
    max-width: 700px;
    min-width: 700px;
    height: 650px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 20px;
    margin: 20px;
    background-color: $white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.h1-sign-up {
    color: $white;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    background-color: $tertiaryColor;
}

.signUP-container {
    border: none;
    width: 100vw;
}

.input-checkbox {
    position: relative;
}

.show-pass-btn {
    position: absolute;
    background-color: transparent;
    margin-left: 180px;
    margin-top: -38px;
    cursor: pointer;
}

.show-pass-btn > span {
    font-size: 20px;
    margin-left: 20px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #ffe3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.input-field {
width: 330px;
height: 55px;
background-color: #EAF4F4;
border-radius: 24px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
box-shadow: #fdd6f1 0px 5px 15px;  
}
  
.input-field input {
width: 100%;
height: 100%;
background-color: transparent;
border: hidden;
outline: none;
font-size: 18px;
text-indent: 2px;
padding: 5px;  
}

.input-field span {
cursor: pointer;
}

.textInputs input {
    font-size: smaller;
}

.textInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 140px;
    grid-row-gap: 0px;
}

.submitButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #008000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: fit-content;
    margin-left: 35%;
    margin-bottom: 10px;
}

.submitButton:hover {
    background-color: #3e8e41;
}

.submitButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonContainer {
    width: 100%;
    text-align: center;
}

.error-container {
    width: 500px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.error-message {
    font-weight: $fontBold;
    color: red;
    padding: 10px;
}

@media (max-width: 768px) {
    .signUP-container form {
        height: 1000px;
        max-width: 350px;
        min-width: 350px;
        grid-template-rows: repeat(1, 1fr);
    }

    .textInputs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        padding-left: 25px;
    }

    .error-container {
        width: 300px;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .submitButton {
        margin-left: 75px;
        width: 150px;
        font-size: 20px;
    }
}
