@import "../../sass/_reset.scss";
@import '../../sass/variables';
@import '../../sass/elements';

@media all and (min-width: 480px){
    .SignUpStyle {
        padding: 60px 0;
    }
    .SignUpStyle form {
        margin: 0 auto;
        max-width: 320px;
    }
}