.about {
    color: $tertiaryColor;
    margin: 50px;
    text-align: center;
}
.title-and-p {
    font-size: 2rem;
    line-height: 1rem;
}
.about-text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: justify;
    padding-left: 30px;
}

.image-hands img {
    width: 90%;
    margin-right: 250px;
}
.image-and-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-title {
    font-size: 5rem;
    margin-bottom: 40px;
}
.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 3px;
    .title {
        font-size: 2rem;
        padding: 10px;
        font-weight: $fontBold;
    }
    .card img {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        max-height: 200px;
        margin: 40px;
    }
    .card-content {
        font-size: 1.2rem;
        text-align: justify;
        line-height: 1.6rem;
        padding: 20px;
        margin-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 15px;
    }
}

.container {
    position: absolute;
    top: 10%;
    left: 23%;
    width: 50%;
  }
    
  .text {
    display: inline;
    width: 100%;
    font-size: 1.5rem;
  }
    
  .read-or-hide{
    color: rgb(192,192,192);
    cursor: pointer;
  }

.name-position-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.job-title {
    margin-top: 20px;
    font-size: 1.6rem;
}
.name-title {
    margin-top: 6rem;
    padding-left: 1rem;
}

.button1 {
    background-color: $tertiaryColor;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 350px;
    margin-bottom: 70px;
}

.button1:hover {
    opacity: 1;
}

.h2-about {
    font-size: 3rem;
    padding: 30px;
}

// card
.card {
    max-width: 450px;
    min-width: 550px;
    height: fit-content;
    min-height: 440px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 30px auto;
    text-align: center;
    color: $secondaryColor;
    a {
        cursor: pointer;
    }
    p {
        img {
            height: 30px;
            margin-left: 300px;
            opacity: 80%;
        }
    }
    .profile-image:hover {
        border: 3px solid transparent;
    }
}
@media all and (max-width: 500px) {
    .members{
        display: inline;
    }
    .image-and-about {
        grid-template-columns: repeat(1, 1fr);
    }

    .image-hands img {
        display: none;
    }
    .image-and-about {
        display: inline;
    }

    .members .card img {
        max-height: 100px;
        text-align: left;
    }

    .about-title {
        font-size: 2rem;
        margin-bottom: 20px;
        font-weight: $fontBold;
    }

    .about {
        margin: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    // card
    .card {
        max-width: 380px;
        min-width: 250px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px auto;
        min-height: 300px;  
    }

    .about-text {
        padding-left: 0px;
    }

    .h2-about {
        font-size: 2rem;
        font-weight: $fontBold;
        padding: 5px;
        margin-top: 20px;
    }

    .job-title {
        margin-top: 0px;
        font-size: 1rem;
        padding-left: 0rem;
        border-top: 3px solid $tertiaryColor;
        padding-top: 10px;
    }

    .members .card-content {
        font-size: 1rem;
        line-height: 1.4rem;
        padding: 5px;
        margin-top: 5px;
        padding-left: auto;
        padding-right: auto;
        padding-bottom: 5px;
    }

    .members .title {
        font-size: 1.4rem;
    }

    .text {
        display: inline;
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}
