.Pagination {
    width: 100vw;
    height: auto;
    padding: 8px 16px;

    .book {
        width: 80%;
        position: relative;
        margin: 0 auto;
        
    }
    .paginationBttns {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 70px;
        margin-top: 30px;
    }

    .paginationBttns a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        padding: auto;
        margin: auto;
        cursor: pointer;
    }

    .paginationBttns a:hover {
        cursor: pointer;
    }

    &.selected {
        background-color: rgba(0, 0, 0, 0.08);
    }

    .paginationDisabled a {
        pointer-events: none;

        &:hover {
            background-color: transparent;
            cursor: default;
        }
    }
}