.login-container {
    padding-left: 20px;
}

.login-container form {
    background-color: $primaryColor;
    width: fit-content;
    height: 50vh;
    padding: 30px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.form-inputs-login {
    margin-left: 30%;
}

.button-login {
    text-align: center;
}

.h1-login {
    color: $white;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    background-color: $tertiaryColor;
}

.buttonLoginPage {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #008000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: fit-content;
}

.buttonLoginPage:hover {
    background-color: #3e8e41;
}

.buttonLoginPage:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.error-container-login {
    width: 500px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.error-message-login {
    font-weight: $fontBold;
    color: red;
    padding: 10px;
}

.input-checkbox-login {
    position: relative;
}

.show-pass-btn-login {
    position: absolute;
    background-color: transparent;
    margin-left: 180px;
    margin-top: -38px;
    cursor: pointer;
}

.show-pass-btn-login > span {
    font-size: 20px;
    margin-left: 20px;
}
@media (max-width: 768px) {
    .login-container form {
        width: 90%;
        height: 50vh;
    }

    .form-inputs-login {
        margin-left: 0%;
    }

    .button-login {
        text-align: left;
    }

    .error-container-login {
        text-align: left;
        width: 250px;
        margin-left: 0px;
        margin-top: 00px;
    }

    .login-container {
        padding-left: 0px;
        padding-top: 50px;
    }
}