.login-container {
    padding: 10px; 
    height: 100vh;
}

.login-container form {
    background-color: $primaryColor;
    max-width: 1000px;
    height: 650px;
    padding: 50px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color:#f2f7f8;
    border-radius: 15px;
    box-shadow: inset 0 -3em 3em rgba(193, 205, 224, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(114, 147, 218, 0.3);
}

.form-inputs-login {
    margin-bottom: 30px;
}

.form-inputs-login input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.button-login {
    text-align: center;
}

.h1-login {
    color: $tertiaryColor;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
    letter-spacing: 5px;
    font-weight: $fontBold;
}

.buttonLoginPage {
    background-color: #BFD7EA;
    border: 2px solid #0B3954;
    border-radius: 30px;
    box-shadow: #0B3954 4px 4px 0 0;
    color: #0B3954;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 26px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;   
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.buttonLoginPage:hover {
    background-color: #fff;
}

.buttonLoginPage:active {
    box-shadow: #0B3954 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.error-container-login {
    width: 500px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    // margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.link-to-login {
    font-size: 20px;
}

.error-message-login {
    font-weight: $fontBold;
    color: red;
    padding: 10px;
    font-size: large;
}

.input-checkbox-login {
    position: relative;
    margin-top: 50px;
}

.show-pass-btn-login {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    margin-top: 38px;
    margin-right: 600px;
    width: 65px;
    cursor: pointer;
    
}

.show-pass-btn-login > span {
    fill: gray;
}

.link-to-sign-up {
    color: $secondaryColor;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .login-container form {
        width: 90%;
        height: 550px;
    }

    .form-inputs-login {
        margin-left: 0%;
        margin-bottom: 10px;
    }

    .form-inputs-login input {
        font-size: 1rem;
    }

    .error-container-login {
        width: 120%;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -20px;
    }

    .error-message-login {
        font-size: 12px;
    }

    .h1-login {
        font-size: 1.6rem;
        letter-spacing: 3px;
    }

    .show-pass-btn-login {
        margin-top: 30px;
        margin-right: 0px;
        width: 55px;
    }

    .buttonLoginPage{
        letter-spacing: 1px;
    }

}