@import "../../sass/_reset.scss";
@import '../../sass/variables';
@import '../../sass/elements';

.login-container{
    background-color: $secondaryColor;
    width: fit-content;
    padding: 50px;
    margin: 0 auto;
    button{
        margin-top: 10px;
        position: relative;
        left: 42px;
    }
}

@media all and (min-width: 480px){
    .Login{
        padding: 60px 0;
    }
    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}