@import "../../sass/_reset.scss";
@import '../../sass/variables';
@import '../../sass/elements';

.login-container{
    background-color: $primaryColor;
    height: 700px;
    width: fit-content;
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px ;
    margin-bottom: 10px;
    button{
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}