.burger div {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 25px;
    right: 20px;
    
    z-index: 20;
    display: none;

    @media (max-width: 768px) {
        .burger {
            display: flex;
            justify-content: space-around;
            flex-flow: column nowrap;
        }
    }

    div {
        width: 2rem;
        height: 0.25rem;
        background-color: red;

        .openClassBurger {
            background-color: '#ccc';
        }
    
        .closeClassBurger {
            background-color: '#333';
        }

        border-radius: 10px;
        transform-origin: 1px;
        transition: all 0.3s linear;
        cursor: pointer;

        &:nth-child(1) {        
            .openClassBurger {
                transform: rotate(45deg);
            }
        
            .closeClassBurger {
                transform: rotate(0);
            }
        }

        &:nth-child(2) {
            .openClassBurger {
                transform: translateX(100%);
                opacity: 0;
            }
        
            .closeClassBurger {
                transform: translateX(0);
                opacity: 1;
            }
        }

        &:nth-child(3) {
            .openClassBurger {
                transform: rotate(-45deg);
            }
        
            .closeClassBurger {
                transform: rotate(0);
            }
        }
    }
}