.navbar,
.logo-pic img {
    height: 60px;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf9f9;
    border-bottom: 5px solid $tertiaryColor;
}

.navbar {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeClass ul {
    text-align: right;
}

.openClass ul {
    text-align: right;
}

.menu-toggle {
    cursor: pointer;
}

.hamBox {
    position: relative;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 1.5em;
    display: none;
}

.hamBox:hover {
    z-index: 5;
}

.hamBoxOpen {
    background: grey;
}

.lineTop,
.lineBottom {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 2.4rem;
    height: 4px;
    border-radius: 10px;
    background: #364958;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
}

.lineTop {
    top: 1.7em;
    z-index: 4;
}

.lineBottom {
    bottom: 1.6em;
    z-index: 4;
}

.lineTop.spin {
    top: 1.4em;
    transform: rotate(135deg);
    background: #fff;
}

.lineBottom.spin {
    bottom: 1.4em;
    transform: rotate(225deg);
    background: #fff;
}

.night-mode {
    padding: 10px;
    width: 50px;
    background-color: transparent;
}

.day-mode {
    padding: 10px;
    background-color: transparent;
    width: 50px;
}

.nigt-mode-header {
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 65px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #364958;
    border-bottom: 5px solid $tertiaryColor;
} 

@media (max-width: 768px) {
    .nav {
        padding: 10px;
    }

    .hamBox {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
    }

    .navbar {
        background-color: red;
        margin-bottom: 50px;
        width: fit-content;
    }

    .menu-toggle {
        position: relative;
    }
}
